body {
     background: #fff url('img/corona.jpeg') no-repeat center center ;
}

.container{
    display: flex;;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image {
    margin-top:0px;
  }
  
  @media only screen and (max-width: 770px) {
    .container {
      margin: 0 10%;
    }
  
    .image {
      width: 100%;
    }
  }